@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&family=Prosto+One&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.contenedor{
    padding: 2rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}
header{
    display: flex;
    margin: 1rem;
    color: #3A1C71;
}
.contenedor2{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.entradaTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #caca;
}
.entradaTexto textarea{
    border: 0px;
    border-radius: 1rem;
    height: 80%;
    width: 85%;
    font-size: 1.2em;
    padding: 1rem;
    outline: 0;
    /* saca la linea que permite cambiar de tamaño el textarea resize */
    resize: none;
}
textarea::placeholder {
    color: #3A1C71;
}
.entradaTexto p{
    padding: 0.5rem;
}
.contenedorBotones{
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}
.botones{
    color: whitesmoke;
    background-color: #3A1C71;
    margin-right:10%;
    padding: 0.65rem;
    border:solid 1px #3A1C71;
    border-radius: 1rem;
    cursor: pointer;
}
.botones:hover{
    background-color: #FDBB2D;
    color: #3A1C71;
}
.salidaTexto{
    background-color: #caca;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.sinPalabras{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    color: #3A1C71;
}
.sinPalabras .imagen{
    width: 90%;
    border-radius: 1rem;
    margin-bottom: 10px;
}
.sinPalabras h3{
    padding:0.5rem;
}
.sinPalabras h5{
    font-size: 0.92rem;
}
.conPalabras{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conPalabras p{
    background-color: rgb(219, 208, 208);
    color: #3A1C71;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}